@import "tailwindcss";

@theme {
  --color-indigo-50: #f0fdf4;
  --color-indigo-100: #dcfce7;
  --color-indigo-200: #bbf7d0;
  --color-indigo-300: #86efac;
  --color-indigo-400: #4ade80;
  --color-indigo-500: #22c55e;
  --color-indigo-600: #16a34a;
  --color-indigo-700: #15803d;
  --color-indigo-800: #166534;
  --color-indigo-900: #14532d;
  --color-indigo-950: #052e16;
}

@layer base {
  html, body {
    @apply overflow-hidden h-full;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: var(--color-indigo-500);
    border-radius: 10px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: var(--color-indigo-600);
  }
}
